@using Planetwide.Blazor.Ui.Features.Members
@page "/"
@inject IConfiguration Configuration

<PageTitle>Index</PageTitle>

<div class="alert alert-warning mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>Wanna see the fancy schema explorer?</strong>

    <span class="text-nowrap">
        <a target="_blank" class="font-weight-bold link-dark" href="@_schemaEndpoint">Show me the schema</a>
    </span>
</div>

<h3>Members from the Graph</h3>
<ListMembers></ListMembers>

@code {
    private string? _schemaEndpoint;
    
    protected override void OnInitialized()
    {
        _schemaEndpoint = Configuration["Graphql:Gateway"];
    }
}
